.about-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-us-header {
  position: relative;
  box-shadow: 20px 20px 30px 0px #d4d4d4;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.94);
}
.about-us-navbar {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.about-us-container1 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.about-us-image {
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: -32px;
}
.about-us-textinput {
  color: var(--dl-color-pallet-purple);
  width: 100%;
  max-width: var(--dl-size-size-xxlarge);
  align-self: center;
  text-align: right;
  transition: 0.3s;
  border-color: #ffffff;
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: 0px;
  background-color: #ffffff;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.about-us-textinput:hover {
  border-color: var(--dl-color-pallet-green1);
}
.about-us-middle {
  width: 626px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  margin-right: 150px;
  justify-content: center;
}
.about-us-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-text {
  color: var(--dl-color-gray-black);
  font-size: 15px;
  font-style: normal;
  font-family: "Jost";
  font-weight: 700;
  margin-right: var(--dl-space-space-oneandhalfunits);
  letter-spacing: 0.02px;
  text-transform: none;
  text-decoration: none;
}
.about-us-text01 {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
  background-color: #ffffff;
}
.about-us-navlink {
  display: contents;
}
.about-us-image1 {
  width: 82px;
  height: 89px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.about-us-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-text02 {
  font-size: 15px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.about-us-text03 {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.about-us-icons {
  display: flex;
}
.about-us-navlink1 {
  display: contents;
}
.about-us-icon {
  fill: var(--dl-color-pallet-green1);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.about-us-icon02 {
  fill: var(--dl-color-pallet-purple);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.about-us-icon04 {
  fill: var(--dl-color-pallet-green1);
  width: 24px;
  height: 24px;
}
.about-us-text04 {
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.about-us-text07 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.about-us-text08 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.about-us-text15 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.about-us-text16 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.about-us-text23 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.about-us-text24 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.about-us-text30 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.about-us-text31 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.about-us-text37 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.about-us-text38 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.about-us-text44 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.about-us-text45 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.about-us-link {
  align-self: center;
  text-decoration: none;
}
.about-us-container2 {
  width: 1137px;
  height: 289px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.about-us-container3 {
  top: 15px;
  left: 200px;
  right: 564px;
  width: 380px;
  bottom: -12px;
  height: 278px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: center;
  margin-left: 700px;
  justify-content: center;
}
.about-us-services {
  top: 4px;
  left: 24px;
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  position: absolute;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
}
.about-us-text49 {
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 15px;
}
.about-us-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-us-text50 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text51 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-text54 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.about-us-links-container {
  width: 90px;
  height: 273px;
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.about-us-text55 {
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 15px;
  margin-bottom: 0px;
}
.about-us-link1 {
  display: contents;
}
.about-us-icon06 {
  fill: var(--dl-color-pallet-green1);
  width: 24px;
  height: 24px;
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}

.about-us-link2 {
  display: contents;
}
.about-us-icon08 {
  fill: #2400ff;
  width: 24px;
  height: 24px;
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}

.about-us-link3 {
  display: contents;
}
.about-us-image2 {
  width: 24px;
  height: 24px;
  align-self: center;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}

.about-us-container5 {
  top: 15px;
  left: 31px;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-us-text58 {
  margin-bottom: 8px;
}
.about-us-text61 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.about-us-container6 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-us-link4 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: 3px;
  text-decoration: underline;
}
.about-us-link5 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
  text-decoration: underline;
}
.about-us-container7 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@media(max-width: 991px) {
  .about-us-container1 {
    display: none;
  }
  .about-us-middle {
    width: 887px;
  }
  .about-us-icons {
    display: none;
  }
  .about-us-container2 {
    width: 100%;
  }
  .about-us-services {
    margin-bottom: var(--dl-space-space-threeunits);
    flex-direction: row;
    justify-content: flex-start;
  }
  .about-us-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .about-us-middle {
    width: 757px;
  }
  .about-us-container2 {
    width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-container3 {
    align-self: flex-end;
  }
  .about-us-services {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
  .about-us-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 390px) {
  .about-us-header {
    padding: var(--dl-space-space-unit);
  }
  .about-us-middle {
    width: 389px;
    align-items: center;
    margin-right: 0px;
    justify-content: center;
  }
  .about-us-left {
    width: 142px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .about-us-text01 {
    margin-right: var(--dl-space-space-unit);
  }
  .about-us-image1 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .about-us-right {
    margin-left: 0px;
    margin-right: 0px;
  }
  .about-us-text02 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .about-us-link {
    display: none;
  }
  .about-us-container2 {
    width: 478px;
  }
  .about-us-container3 {
    top: -45px;
    right: -63px;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: var(--dl-space-space-fourunits);
  }
  .about-us-services {
    top: 21px;
    right: -68px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-us-text49 {
    display: none;
    align-self: center;
    text-align: center;
  }
  .about-us-text50 {
    display: none;
  }
  .about-us-text51 {
    display: none;
  }
  .about-us-text54 {
    display: none;
  }
  .about-us-links-container {
    top: 30px;
    left: 145px;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-us-text55 {
    align-self: center;
  }
  .about-us-container5 {
    left: 70px;
    bottom: 77px;
  }
  .about-us-text61 {
    color: var(--dl-color-gray-black50);
  }
}
