.component3-container {
  width: 223px;
  height: 68px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-pallet-purple);
  border-width: 1px;
  padding-left: 4px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 9px;
  justify-content: center;
}
.component3-button {
  color: var(--dl-color-pallet-purple);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
}
.component3-icon {
  fill: var(--dl-color-pallet-purple);
  width: 53px;
  height: 39px;
}
.component3-root-class-name {
  align-self: center;
}
