.component11-container {
  width: 1137px;
  height: 289px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.component11-container1 {
  top: 15px;
  left: 200px;
  right: 564px;
  width: 380px;
  bottom: -12px;
  height: 278px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: center;
  margin-left: 700px;
  justify-content: center;
}
.component11-services {
  top: 4px;
  left: 24px;
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  position: absolute;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
}
.component11-text {
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 15px;
}
.component11-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.component11-text01 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.component11-text02 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.component11-text05 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.component11-links-container {
  width: 90px;
  height: 273px;
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.component11-text06 {
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 15px;
  margin-bottom: 0px;
}
.component11-link {
  display: contents;
}
.component11-icon {
  fill: var(--dl-color-pallet-green1);
  width: 24px;
  height: 24px;
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}

.component11-link1 {
  display: contents;
}
.component11-icon2 {
  fill: #2400ff;
  width: 24px;
  height: 24px;
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}

.component11-link2 {
  display: contents;
}
.component11-image {
  width: 24px;
  height: 24px;
  align-self: center;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}

.component11-container3 {
  top: 15px;
  left: 31px;
  display: flex;
  position: absolute;
  max-width: var(--dl-size-size-maxwidth);
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.component11-text09 {
  margin-bottom: 8px;
}
.component11-text12 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.component11-link3 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: 3px;
  text-decoration: underline;
}
.component11-link4 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
  text-decoration: underline;
}
@media(max-width: 991px) {
  .component11-container {
    width: 100%;
  }
  .component11-services {
    margin-bottom: var(--dl-space-space-threeunits);
    flex-direction: row;
    justify-content: flex-start;
  }
  .component11-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .component11-container {
    width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .component11-container1 {
    align-self: flex-end;
  }
  .component11-services {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
  .component11-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .component11-container {
    width: 478px;
  }
  .component11-container1 {
    top: -45px;
    right: -63px;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: var(--dl-space-space-fourunits);
  }
  .component11-services {
    top: 21px;
    right: -68px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .component11-text {
    align-self: center;
    text-align: center;
  }
  .component11-links-container {
    top: 56px;
    left: 85px;
    margin-top: 0px;
    align-items: flex-start;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: space-between;
  }
  .component11-text06 {
    align-self: center;
  }
  .component11-container3 {
    left: 30px;
    bottom: 77px;
  }
  .component11-text12 {
    color: var(--dl-color-gray-black50);
  }
}
