.component8-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.component8-container1 {
  width: 223px;
  height: 68px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-pallet-purple);
  border-width: 1px;
  padding-left: 4px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 9px;
  justify-content: center;
}
.component8-button {
  color: var(--dl-color-pallet-purple);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
}
.component8-icon {
  fill: var(--dl-color-pallet-purple);
  width: 53px;
  height: 39px;
}
.component8-container2 {
  width: 223px;
  height: 68px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-pallet-purple);
  border-width: 1px;
  padding-left: 4px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 9px;
  justify-content: center;
}
.component8-button1 {
  color: var(--dl-color-pallet-purple);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 5px;
}
.component8-icon2 {
  fill: var(--dl-color-pallet-purple);
  width: 27px;
  height: 39px;
  margin-left: 10px;
}
.component8-root-class-name {
  align-self: center;
}
